#main-screen{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    
}
.main-background{
    grid-column: 1/2;
    grid-row: 1/4;
    width: 200%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../public/main-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-screen-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.main-screen{
    grid-row: 1/4;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-item-container{
    color: white;
    padding: 0 0 50px;
}
.grid-item-container h1{
    font-weight: bold;
    font-size: 80px; /*1366x5.856=*79.99*/
    margin: 0 0 30px;
   

}
.grid-item-container p{
    font-size: 24px;  /*1366x1.76=24.04*/
    font-family: 'Open Sans', sans-serif;
    margin: 40px 0 50px;
}
.grid-item-container button{
    background-color: #FFB343;
    border: none;
    padding: 10px;
    width: 20vw;
    font-weight: bold; 
    font-size: 16px; /*1366x1.18=16.1*/
}
/*THE GAMES*/
#the-games{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    
}
.the-games-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  
}
.the-games-background{
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
    min-height: 100vh;
    background-image: url('../public/images/the-games-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.the-games-text{
    grid-column: 1/3;
    grid-row: 1/3;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin: 0 60px;
}
.the-games-item-container{
    color: white;
   
}
.the-games-item-container p{
    font-size: 18px; /*18.003*/
}
.the-games-item-container h1{
    font-size: 80px;
  
    font-weight: bold;
}
.the-games-carousel{
    grid-column: 2/4;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: 0 100px;
}

/*FEATURES*/
#features{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.features-background{
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    min-height: 100vh;
    background-image: url('../public/images/features.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.features-text{
    grid-column: 2/3;
    grid-row: 1/4;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 10vw 0 0;
    text-align: left;
}
.features-item-container{
    padding-left: 80px;
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: left;
    
}
.features-desc{
    padding-left: 30px;
}
.traditional-games{
    font-size: 24px;
    color: #FFB343;
    margin: 45px 0;
}
.traditional-games p{
    color: white;
}
.features-item-container h1{
    font-size: 80px;
    font-weight: 400;
    
}
.features-item-container p{
    font-size: 18px; /*18.03*/
   
}
/*REQUIREMENT*/
#requirement{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.requirement-background{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    min-height: 100vh;
    background-image: url('../public/images/requirements.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.requirement-container{
    grid-column: 1/2;
    grid-row: 1/2;
    padding:10rem 0 0 5rem;
    width: 100%;
}
.requirement-container h1{
    font-size: 80px;
    font-weight: bold;
}
.specification{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
   
}.specification div{
    border: 1px solid white;
    padding: 20px;
    border-collapse: collapse;
}
.specification div h3{
    font-size: 24px;
    color: #FFB343;
    font-weight: bold;
}
.specification div p{
    font-size: 18px;
    margin-bottom: 0;
}
.graphic{
    grid-column: 1/3;
    grid-row: 3/4;
}
/*TOPSCORES*/
#top-scores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
   background-color: black;
   color: white;

}
.top-scores-background{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    min-height: 100vh;
    background-image: url('../public/images/top-score-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-scores-desc{
    grid-column: 1/2;
    grid-row: 1/2;
    padding:0 16rem 0 5rem;
    display: flex;
    align-items: center;
}
.top-scores-desc button{
background-color: #FFB343;
border: none;
padding: 15px;
width: 17vw;
font-weight: bold; 
font-size: 16px;
margin-top: 2rem;
border-radius: 5px;
}
.top-scores-review{
    grid-column: 2/3;
    grid-row: 1/2;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   grid-template-columns: 1fr;
   padding: 10rem 0;
}
.review-card{
    background-color: rgba(25,27,27,255);
    border-radius: 8px;
    padding: 1.5rem 1rem ;
    width: 70%;    
    margin: 1rem 0;
}
.comment{
    font-size: 18px;
}
.date{
    font-size: 14px;
    color: #525354;
}
.review-1{
    margin-left: 20%;
}
.review-2{
    margin-left: 0;
}
.review-3{
    margin-left: 15%;
}
.info-profile{
    display: flex;
    margin-bottom: 1rem;
}
.profile{
    width: 12%;
    border-radius: 50%;
    box-shadow:5px 2px  #FFB343 ;
}
.profile-item{
    margin: 0 .75rem;
}
.profile-job{
   grid-row: 2/3;
   color: #525354!important;
}
.profile-name{
    grid-row: 1/2;
}
.info-profile p{
    color: #FFB343;
    font-size: 18px;
}
.profile-desc{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-row: 1fr 1fr;
    width: 100%;
}
.profile-desc p{
    margin: 0;
}
.profile-twitter{
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: right;
}
.profile-twitter svg{
    width: 40%;
    top: 10%;
}
/*NEWSLETTER*/
#newsletters{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .3fr;
    background-color: black;
}

.newsletter-background{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    min-height: 100vh;
    background-image: url('../public/images/top-score-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.newsletter-text-container{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    
}
.newsletter-input{
    margin-top: 3rem;
}
.newsletter-input button{
background-color: #FFB343;
font-weight: bold;
font-size: 1rem;
border: none;
width: 40%;
padding: .65rem 0;
border-radius: .5rem;

}
.newsletter-input input{
    padding: 1.25rem 1rem .5rem 1rem;
    border-radius: .5rem;
    margin-right: .5rem;
    background-color: #1c1e1f;
    border: none;
    caret-color: #FFB343;
    color: #FFB343;
}
input::placeholder{
    color: #FFB343;
}
input:focus::placeholder{
    color: transparent;
}
.email{
    display: flex;
    position: relative;
}

.email label{
    opacity: 0.8;
    position: absolute;
    top: 4.5%;
    left: 1%;
    font-size: .825rem;
    padding:  0 .5rem;
    margin: 0;
}
.footer{
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 0 4rem ;
    display: flex;
    justify-content: center;
    position: relative;
}
.p{
    width: 100%;
    bottom: 0;
    margin: auto 0;
}

.footer-top{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 0.125rem solid #1c1e1f;
    font-size: 0.75rem;
}
.footer-nav{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    margin:0 4rem;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}
.footer-nav-item:hover{
color: #525354;
}
.footer-top-item{
    margin: 1.5rem 1rem;
    color: white;
}
.footer-top-item p{
    margin-bottom: 0;
}
.footer-top-item:hover{
    text-decoration: none;
    
}
.social-media{
    grid-column: 2/3;
    grid-row: 1/2;
   display: flex;
   align-items: center;
   justify-content: right;
}
.twitter:hover{
  fill: #1DA1F2;
}
.youtube:hover{
    fill: #FF1313;
}
.facebook:hover{
    fill: #4267B2;
}
.twitch:hover{
    fill: #6441a5;
 }
 .footer-bottom{
     grid-column: 1/2;
     grid-row: 2/3;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr;
     padding: 1rem;
 }
 .copyright{
    color: #525354;
    font-size: 0.875rem;
    margin: 0;
 }
 .footer-info{
     grid-column: 2/3;
     grid-row: 1/2;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row: 1fr;
     display: flex;
     justify-content: right;
 }
 .info-item{
     margin: 0;
     padding: 0 .75rem;
     text-align: center;
 }
 .info-item p{
     font-size: 0.75rem;
     margin: 0;
 }
 .info-item a{
     color: white;
     font-weight: bold;
 }
 .info-item a:hover{
     text-decoration: none;
     color: #525354;
 }
 .border-info{
     border-left:.15rem solid #FFF!important;
 }

/*RESPONSIVE DESIGN*/
@media screen and (max-width:992px){
    .navbar button{
        border: 3px solid white;
    }
    .right-navbar{
        
        margin-right: 0;
    }
    .ml-auto{
        margin-left: 2rem!important;
    }
    .right-navbar .nav-item{
        padding: 0.5rem 2rem;
    }
    .the-games-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .the-games-background{
        grid-column: 1/2;
        grid-row: 1/4;
        width: 100%;
        height: 100%;
    }
    .the-games-text{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align:center;
        margin: auto;
    }
    .the-games-item-container h1, .grid-item-container h1, .requirement-container h1{
        font-size: 80px;/*1366x8.29=60.01*/
    }
    .the-games-carousel{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items:center ;
        margin: 0 auto 15vw;
        width: 80%;
        
    }
    .navbar{
        position: static;
        opacity: 100%;
    }
    
    .grid-item-container p{
        font-size: 18px;
    }
    .grid-item-container{
       position: relative;
       top: 10vw;
    }
    .grid-item-container button{
        width: 25vw;
    }
    .features-text{
        grid-column: 1/3;
        padding: 0;
    }
    .features-desc, .features-item-container{
        padding-left: 0;
    }
    .features-item-container{
        justify-content: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.542);
        padding: 2rem 0 0;
    }
    .requirement-container{
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 5rem 2rem 10rem;
        text-align: center;
    }
    .specification{
        text-align: left;
        background-color: rgba(0, 0, 0, 0.542);
    }
    .specification div p{
        font-size: 1rem;
        margin-bottom: 0;
    }
    #top-scores{
        grid-template-columns: 1fr;
       
    }
    .top-scores-desc{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 2rem;
        text-align: center;
        margin: auto;
        align-items: unset;
        
    }
    .top-scores-review{
        grid-column: 1/2;
        grid-row: 2/3;
       display: grid;
       grid-template-rows: repeat(3, 1fr);
       grid-template-columns: 1fr;
       padding: 0 1rem;
       
    }
    .top-scores-background{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .review-1, .review-2, .review-3{
        margin-left: 0;
    }
    .review-card{
        width: 90%;     
        margin: 1rem auto;  
    }
    .top-scores-desc button{
        width: 25vw;
    }
    .profile{
        width: 7.5%;
    }
    .profile-twitter img{
        width: 25%;
    }
    .newsletter-text-container{
        grid-column: 3/3;
        text-align: left;
        padding: 2rem 2.5rem 0;
    }
    
    .email{
       justify-content: center;
    }
    .newsletter-input label{
        left: 19.3%;
    }
    .newsletter-input button{
        min-width: 7rem;
    }
    
    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem 3rem 0;
       
    }
    .footer-nav{
        margin: 0;
        justify-content: center;
    }
    .footer-top{
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
    }
    .footer p{
        font-size: .55rem;
    }
    .social-media{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
    }
    .footer-nav{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}
@media screen and (max-width:576px){
    
.features-text-container{
    padding: 5vw 8vw 0;
}
.features-item-container h1{
    font-size: 4rem;
}
.features-item-container h3{
    font-size: 1.5rem;
}
.features-item-container p{
    font-size: 1rem;
}
.the-games-item-container h1, .grid-item-container h1, .requirement-container h1, .top-scores-desc h1, .newsletter-text-container h1{
    font-size: 60px;/*1366x8.29=60.01*/
}
.profile{
    width: 17%;
}
.profile-twitter img{
width: 55%;
}
.email button{
   font-size: 12px;
}
.newsletter-input label{
   left: 8%;
}
}
@media screen and  (max-width:450px){
    .newsletter-input label{
        left: 3%;
     }
     .footer{
         padding: 1rem 2rem;
     }
    
}
