.navbar {
    opacity: 0.8;
   position: absolute;
   top: 0;
   width: 100%;
   background-color: rgb(0, 0, 0);
   padding: 5px 0;
   z-index: 1;
}

.navbarBrand {
    font-size: 2.5rem;
    font-weight: 600;
    margin:  0 6rem;
}

.navbarBrand:hover, .navLink:hover {
    color: rgb(255, 255, 255);
}

.navbarBrand, .navItem a{
    color: white;
}

.leftNavbar {
    margin-left: 2rem;
}

.leftNavbar .navItem {
    padding: 0.5rem 2rem;
}

.rightNavbar {
    margin-right: 5rem;
}
.rightNavbar .navItem {
    padding: 0.5rem 1rem;
}

.navLink {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
}
