@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Titillium+Web:wght@300;700&display=swap');

.background{
    min-height: 100vh;
    background-image: url('../public/main-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileContainer{
    background-color: rgba(0, 0, 0, 0.576);
    width: 60vw;
    height: 50vh;
    border-radius: 8px;
    padding: 30px;
    color: white;
}
.userData{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dataTitle{
    color: rgb(193, 193, 193);
}
.userBio{
    display: flex;
    justify-content: flex-start;
}
.editButton{
    width: 40%;
    height: 50%;
    background-color: #FFB343;
    border: none;
    padding: 10px;
    font-weight: bold; 
    font-size: 16px; /*1366x1.18=16.1*/
}