@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Titillium+Web:wght@300;700&display=swap');

.main {
    min-height: 125vh;
    background-image: url('../public/main-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.text-center{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* padding-top: 5vh; */
    color: white;
    font-size: 35px;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-0%);
    width: 500px;
    height: 690px;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    
}

.container .form-group{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 20px;
}

.row > .col-lg-6 > .container > .error {
    color: white;
}


@media screen and (max-width:840px) {
    .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-0%);
        width: 400px;
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 10px rgba(255,255,255,.3);
    }
}